<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
--> 
<config>
    <modules>
        <Mozg_CheckoutFilters>
            <version>1.0.0</version>
        </Mozg_CheckoutFilters>
    </modules>
    <global>
        <helpers>
            <mozg_checkoutfilters>
                <class>Mozg_CheckoutFilters_Helper</class>
            </mozg_checkoutfilters>
        </helpers>
        <models>
            <mozg_checkoutfilters>
                <class>Mozg_CheckoutFilters_Model</class>
            </mozg_checkoutfilters>
            <checkout>
                <rewrite>
                    <type_onepage>Mozg_CheckoutFilters_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <shipping>
                <rewrite>
                    <shipping>Mozg_CheckoutFilters_Model_Shipping_Shipping</shipping>
                </rewrite>
            </shipping>
        </models>
    </global>
    <frontend>
        <events>
            <payment_method_is_active>
                <observers>
                    <checkout_filter_checks>
                        <class>mozg_checkoutfilters/payment_observer</class>
                        <method>methodIsAvailable</method>
                    </checkout_filter_checks>
                </observers>
            </payment_method_is_active>
        </events>
        <translate>
            <modules>
                <Mozg_CheckoutFilters>
                    <files>
                        <default>Mozg_CheckoutFilters.csv</default>
                    </files>
                </Mozg_CheckoutFilters>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mozg_CheckoutFilters>
                    <files>
                        <default>Mozg_CheckoutFilters.csv</default>
                    </files>
                </Mozg_CheckoutFilters>
            </modules>
        </translate>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <checkout_filter_config>
                        <class>mozg_checkoutfilters/adminhtml_config_observer</class>
                        <method>addFieldsToConfig</method>
                    </checkout_filter_config>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </adminhtml>
    <default>
        <carriers>
            <mozg_jadlog>
                <show_only_correios_offline>0</show_only_correios_offline>
            </mozg_jadlog>
        </carriers>
        <mozg_checkoutfilters>
            <payment>
                <free_hide_other>1</free_hide_other>
            </payment>
            <save_billing>
                <checks_legal_age>0</checks_legal_age>
            </save_billing>
        </mozg_checkoutfilters>
    </default>
</config>